body{
	background-color: #fffffe;
	font-family: 'Arial', sans-serif;
	position: relative;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


p {
font-family: 'Verdana' sans-serif;
}

h1, h2, h3{
	font-family: 'Calibri', sans-serif;
	color: #272343;
}

.button{
width: 100%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

.button:hover {
background-color: #45a049;
}


.footer {
	position: absolute;
	bottom: -10;
	left: 0;
	right: 0;
	height: 100px;
	background: rgb(0, 0, 0);
	color: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
  	border: 0;
	width: 100%;
}


.timeline {
	float: right;
	display: inline;
	width: 200px;
	overflow: hidden;
	margin: 0;
	padding-top: 160px;
	padding-right: 20px;
  }

  .timeline > ul{
	padding: 40px;
  }

  .timeline > ul > li{
	padding: 10px;
  }
  
  .content {
	float: left;
	width: calc(100% - 200px); /* 100% minus the width of the timeline */
	height: 1500px;
	background-color: #fffffe;
	overflow: auto;
	padding-top: 85px;
	padding-left: 50px;
	bottom: 100px;
	margin: 0;
  }
  
.flex-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

  textarea{
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
	width: 98%;
	padding: 7px 10px;
	margin: 8px 0;
  }